.navbar-brand{
    font-family:"Rubik Wet Paint";
    

}
.navbar{
    background-color:#E0E0E0
    ;
}
.carousel-item{
    height:60vh;
    width:100vw;
    background-size:cover;
}
.carousel-item img {
    object-fit: cover; /* Forces image to cover the container */
    width: 100%;
    height: 100%;
}

.create{
    width:200px;
    background-color: white;
    border:1px solid #ddd;
    border-radius:8px;
    text-align:center;
    box-shadow: 0 4px 8px rgba(0, 0. 0. 0.1);
    transition : transform 0.2s;
    cursor : pointer;
}
.create:hover{
    transform: scale(1.05);
}
.craimga{
    height:60%;
    width:100%;
    border-top-left-radius:8px;
    border-top-right-radius:8px;

}
.crate{
    font-family:monospace;
    padding:10px;
    font-size:1.2em;
    color:#333;
}
.menu{
    margin:30px;
    display:flex;
    justify-content:center;
    gap:80px;

}
.lopage{
    background-image: url("https://cdn.wallpapersafari.com/64/81/SG3zxB.jpg");
    background-size:cover;
    height:100vh;
    width:100%;
}
.loim{
    height:70px;
    width:150px;
}
.logo{
    height:75px;
    width:100%;
    DISPLAY:FLEX;
    
    FLOAT:LEFT;
}
.nava{
    height:8vh;
    background-color:white;
    background-size: cover;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
   
}
    


.WLIST{
    FLOAT:LEFT;
    DISPLAY:FLEX;
    
}
.SLIST{
    list-style: NONE;
    MARGIN-TOP:15PX;
    MARGIN-LEFT:50PX;
    FONT-FAMILY:MONOSPACE;
    FONT-WEIGHT:BOLD;
}
.BTN{
    HEIGHT:5VH;
    WIDTH:4VW;
    BACKGROUND-COLOR:rgb(116, 243, 26);
    MARGIN-TOP:13PX;
    POSITION:ABSOLUTE;
    RIGHT:8PX;
    border-width: 1PX SOLID rgb(27, 20, 20);
    border-BOTTOM-RIGHT-radius: 10PX;
    
    

    
    
    
}
.INP{
    HEIGHT:5VH;
    WIDTH:15VW;
    MARGIN-TOP:13PX;
    MARGIN-LEFT:50PX;
    POSITION:ABSOLUTE;
    RIGHT:15PX;
    border: 1px solid rgb(23, 22, 22);
    border-top-left-radius: 10PX;
    border-right-width: 0px;

}
.register{
    margin:7px;
}
.logincard{
    background: linear-gradient(to-bottom,rgba(1,0,0.5),rgba(0,0,0,1));
    border-radius: 10px;
    padding: 20px;
    width:300px;
    box-shadow: 0 4px 15px rgba(0, 0, 0 ,0.8);
    color:rgb(255, 255, 255);
    text-align:center;
    position:absolute;
    right:20vw;
    bottom:20vh;
    top:20vh;

}
input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color:black;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    margin-top:10px;
}

button:hover {
    background: #0056b3;
}
.line-container{
    font-size:24px;

}
.line{
    opacity:0;
    transition: appear 0.5s forwards;
}

@keyframes appear {
    to{
        opacity: 1;
    }
    
}

.line:nth-child(1){
    animation-delay: 0s;
}
line:nth-child(2){
    animation-delay: 0.5s;

}
line:nth-child(3){
    animation-delay: 1s;

}
line:nth-child(4){
    animation-delay: 1.5s;

}
line:nth-child(5){
    animation-delay: 2s;

}
line:nth-child(6){
    animation-delay: 2.5s;

}
i {
    margin-right:10px;
    margin-bottom:0px;
}